<div class="property-section-wrapper">
  <h3>Column Properties</h3>
  <table>
    <tr>
      <td>
        <div class="title">Column</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            #dropdown1
            width="110px"
            [dataSource]="d1data"
            [fields]="ddlfields"
            value="name"
            (change)="onChange($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>

    <tr>
      <td class="title">
        <div>Column Index</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            #dropdown2
            width="110px"
            [dataSource]="d2data"
            [fields]="fields"
            value="1"
            (change)="change($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>

    <tr>
      <td class="title">
        <div>Column Header</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-textbox width="110px" [(ngModel)]="headerTitle"></ejs-textbox>

          <button ejs-button (click)="setColumnHeader()">Set</button>
        </div>
      </td>
    </tr>

    <tr>
      <td class="title">
        <div>Column Background</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            width="110px"
            [dataSource]="backgroundColors"
            (change)="setClass($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>

    <tr>
      <td class="title">
        <div>Column Text Color</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            width="110px"
            [dataSource]="textColor"
            (change)="setClass($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
  </table>
</div>
