<div class="property-section-wrapper">
  <h3>Selection Properties</h3>
  <table>
    <tr>
      <td>
        <div class="title">Selection Type</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            #dropdown1
            id="element1"
            width="110px"
            [dataSource]="d1data"
            [fields]="fields1"
            value="Multiple"
            (change)="change1($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="title">Selection Mode</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            #dropdown2
            id="element2"
            width="110px"
            [dataSource]="d2data"
            [fields]="fields2"
            value="Row"
            (change)="change2($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
    <tr id='cellselection' style='display: none'>
      <td>
        <div class="title">Cell Selection Mode</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            #dropdown3
            id="element3"
            width="110px"
            [dataSource]="d3data"
            [fields]="fields3"
            value="Flow"
            (change)="change3($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
  </table>
</div>
