<div class="col-lg-9 control-section">
  <div class="content-wrapper">
    <ejs-treegrid
      #treeGrid
      [dataSource]="data"
      [allowPaging]="true"
      [allowResizing]="true"
      [allowSorting]="true"
      [allowFiltering]="true"
      [allowRowDragAndDrop]="true"
      [allowReordering]="true"
      [showColumnChooser]="true"
      [toolbar]="toolbarSettings"
      [childMapping]="'crew'"
      [height]="350"
      [treeColumnIndex]="1"
      [sortSettings]="sortSettings"
      [filterSettings]="filterSettings"
      [selectionSettings]="selectionSettings"
      [editSettings]="editSettings"
    >
      <e-columns>
        <e-column
          *ngFor="let column of columnsSettings"
          [field]="column.field"
          [headerText]="column.headerText"
          [width]="column.width"
          [textAlign]="column.textAlign"
          [validationRules]="column.validationRules"
        ></e-column>
      </e-columns>
    </ejs-treegrid>
  </div>
</div>

<div class="col-lg-3 property-section">
  <app-column-menu [treeGrid]="treeGrid" [columns]="columnsSettings"></app-column-menu>

  <app-selection-menu [treeGrid]="treeGrid"></app-selection-menu>

  <app-filter-menu [treeGrid]="treeGrid"></app-filter-menu>

</div>
