<div class="property-section-wrapper">
  <h3>Filter Properties</h3>
  <table>
    <tr>
      <td>
        <div class="title">Filter Type</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            width= "110px"
            [dataSource]="d2data"
            [fields]="typeFields"
            value="Excel"
            (change)="change($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="title">Hierarchy Mode</div>
      </td>
      <td class="dropdown">
        <div>
          <ejs-dropdownlist
            width="110px"
            [dataSource]="d1data"
            [fields]="ddlFields"
            value="Parent"
            (change)="onChange($event)"
          ></ejs-dropdownlist>
        </div>
      </td>
    </tr>
  </table>
</div>
