.indianred {
  background-color: indianred !important;
}

.forestgreen {
  background-color: forestgreen !important;
}

.cyan {
  background-color: cyan !important;
}

.cornflowerblue {
  background-color: cornflowerblue !important;
}

.red {
  color: red !important;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}
